@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .touch-target {
    min-width: 44px;
    min-height: 44px;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
